@font-face {
    font-family: 'myriad';
    src: url('../fonts/8143.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoe';
    src: url('../fonts/ofont.ru_Segoe WP Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eaves';
    src: url('../fonts/MrsEavesItalic_Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}